// FONTS
$font_primary: "Work Sans";
$font_secondary: "Syne";

// COLORS
$first_color: #1D6154;
$second_color: #B1663C;
$third_color: #FFFFFF;
$fourth_color: #000000;
$color_error : red;
$color_text_login: #3D3D3D; 
$color_background_modal: #0000009d; 
$color_separation: #B3B3B3; 
